<h1>Life Changing Flash Cards</h1>

<div class="btn-group btn-group-lg" role="group">
  <button type="button" class="btn btn-default">Register</button>
  <button type="button" class="btn btn-default">Sign In</button>
</div>
