<h1>Life Changing Flash Cards</h1>

<div class="btn-group btn-group-lg" role="group">
  <%= link_to new_user_path do %>
    <button type="button" class="btn btn-default">Register</button>
  <% end %>
  <%= link_to signin_path do %>
    <button type="button" class="btn btn-default">
      Sign In
    </button>
  <% end %>
</div>
