<div class="btn-group" role="group">
  <button type="button" class="btn btn-default">Create</button>
  <button type="button" class="btn btn-default">Practice</button>
  <button type="button" class="btn btn-default">Test</button>
</div>

<h3> Prompt </h3>
<%= @card.front %>

<h2><a class="btn btn-default">see back</a></h2>
