<div class="btn-group" role="group">
  <button type="button" class="btn btn-default">Create</button>
  <button type="button" class="btn btn-default">Practice</button>
  <button type="button" class="btn btn-default">Test</button>
</div>

<h3> Answer </h3>
<%= @card.back %>

<div class="btn-group" role="group">
  <button type="button" class="btn btn-default">See Front</button>
  <button type="button" class="btn btn-default">Correct</button>
  <button type="button" class="btn btn-default">Wrong</button>
  <button type="button" class="btn btn-default">Next</button>
</div>
